.wrapper{
    display: flex;
    margin-top: 40px;
}
.info_block{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;

    height: 300px;
    min-width: 250px;
    max-width: 250px;
    margin-right: 20px;

    position: relative;
}
.info_text{
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 70px;
}
.info_text p:first-child{
    font-size: 18px;
    font-weight: 600;
}
.info_text p:nth-child(2){
    color: gray;
}
.info_button{
    margin-top: 70px;
}
.info_button a{
    text-decoration: none;
    color: black;
    padding: 10px 35px 10px 35px;
    border: 1px solid black;
    height: 25px;
}
.fa-desktop,.fa-life-ring,.fa-martini-glass{
    border: 1px solid black;
    background-color: white;

    color: orange;
    border-radius: 50%;
    padding: 25px;
    font-size: 20px;
}
.img_helper{
    width: 100%;

    position: absolute;
    top: -40px;
}
.img_block{

}


