body{
    background-color: aqua;
}
.ft_info__row,.sd_info__row,.th_info__row{
    display: flex;

    margin-top: 20px;
    margin-bottom: 20px;

}
.wb_design,.wb_develop,.conv_serv,.word_press,.logo_ident,.media_ads{
    display: flex;
    align-items: center;
    box-sizing: border-box;

    background-color: white;

    border-radius: 2px;
    width: 100%;
}
.wb_develop > i,.wb_design > i,.conv_serv > i,.word_press > i,.logo_ident > i,.media_ads > i{
    padding-right: 20px;
    padding-left: 20px;

    font-size: 35px;
    color: #7e7c7c;
}
.wb_develop,.word_press,.media_ads{
    margin-left: 20px;
}
.info_text > p:first-child{
    color: coral;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 800;
}