body{
    background-color: #ddd9e8;
}
h1,h2{
    text-align: center;
    background-color: #e8ecba;
    color: #4679c5;
}
p{
    background-color: #9bc1f8;
    color: #d5ee40;
    font-size: 22px;

}
li{
    background-color: #9bc1f8;
    color: #d5ee40;
    list-style: none;
    font-size: 22px;
}