body{
    margin: 0;
}
.pos_center{
    display: flex;
    justify-content: center ;
}
.wrapper {

}
.purple_theme{
    color: #7454de;
}
.main_page{
    width: 50%;
    background-color: #061c31;
    height: 350px;

    position: relative;
}
/*--------------NAV-BLOCK--------------*/
.pre_nav{
    position: fixed;

    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #ddd9e8;
}
.nav{
    width: 40%;

}
.nav_blocks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    height: 35px;
    width: 100px;

    background-color: #061c31;
    border-radius: 7px;
}
.nav_tools{

}
.fa-bars{
    font-size: 30px;
}

/*--------------NAV-BLOCK--------------*/
/*--------------MAIN-BLOCK--------------*/

.main_page{

}
.info_text_main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    color: white;

    position: absolute;
    bottom: 45px;
    left: 0;
    margin-left: 50px;
}
.p_wrap{
    box-sizing: border-box;

    height: auto;
    width: 250px;
}
.info_text_main a{
    display: block;

    background-color: #7454de;
    border-radius: 13px;

    height: 27px;
    width: 110px;
}
.info_text_main h3{
    font-size: 25px;
    margin: 0;

}








/*--------------MAIN-BLOCK--------------*/