body{
    margin: 0;
}
.pos_center{
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purple_theme{
    color: #7454de;
}
.main_page{
    overflow: hidden;
    min-width: 500px;
    width: 50%;
    background-color: #061c31;
    height: 350px;
    position: relative;
}
/*--------------NAV-BLOCK--------------*/
.pre_nav{
    z-index: 4;
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ddd9e8;
}
.nav{
    width: 40%;
}
.nav_blocks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    height: 35px;
    width: 100px;
    background-color: #061c31;
    border-radius: 7px;
}
.fa-bars{
    font-size: 30px;
}

/*--------------NAV-BLOCK--------------*/
/*--------------MAIN-BLOCK--------------*/
.info_text_main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: 45px;
    left: 0;
    margin-left: 50px;
}
.p_wrap{
    box-sizing: border-box;
    height: auto;
    width: 250px;
}
.info_text_main a{
    display: block;
    background-color: #7454de;
    border-radius: 13px;
    height: 27px;
    width: 110px;
}
.info_text_main h3{
    font-size: 25px;
    margin: 0;
}
/*--------------MAIN-BLOCK--------------*/
/*--------------MIDDLE-BLOCK--------------*/
.middle_page{
    overflow: hidden;
    min-width: 500px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ddd9e8;
    width: 50%;
}
.column_wrapper{
    display: flex;
    box-sizing: border-box;

}
.news_crate{
    background-color: #7454de;
    border-radius: 8px;
    width: 200px;
    height: 80px;
}
.news_nav{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_mini_crate{
    background-color: #7454de;
    border-radius: 4px;
    height: 20px;
    width: 20px;
}
.news_nav div:nth-child(2n){
    margin-left: 10px;
    margin-right: 10px;
}
.fa-caret-left,.fa-caret-right{
    font-size: 25px;
}
.news_block > div:nth-child(3){
    margin-top: 15px;
    margin-bottom: 15px;
}

.add_info_block{
    box-sizing: border-box;
    background-color: #7454de;
    margin-right: 20px;
    border-radius: 8px;
    height: 50px;
    min-width: 50px;
}
.add_info_block_helper p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 14px;
}
.add_info_block_helper{
    display: flex;
}
.news_column{
    margin-right: 20px;
}
.additional_info > div:nth-child(2n){
    margin-top: 10px;
    margin-bottom: 10px;
}
.additional_info{
    box-sizing: border-box;
    margin-left: 40px;
    max-height: 310px;
    overflow: hidden;
}
.additional_help{
    display: flex;
    align-items: center;
}
/*--------------MIDDLE-BLOCK--------------*/
/*--------------PRE-END-BLOCK--------------*/
.pre_end_block{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ddd9e8;
    width: 50%;
}
.fst_collage_block,.snd_collage_block{
    display: flex;
}
.collage_main_block{
    width: 100%;
    overflow: hidden;
}
.news_collage{
    background-color: #7454de;
    width: 70%;
    height: 110px;
    margin: 10px;
}
.addition_collage{
    background-color: #061c31;
    width: 30%;
    height: 110px;
    margin: 10px;
}
.collage_text{
    text-align: center;
    font-size: 30px;
}
.collage_circle_helper{
    text-align: center;
}
.collage_main_circle{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collage_circle{
    background-color: #7454de;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.custom_text_circle{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.custom_text_circle p:first-child{
    margin-right: 4px;
}
.custom_text_circle p{
    margin: 0;
    background-color: #7454de;
    border-radius: 3px;
    width: 30px;
    height: 4px;
}
.custom_text_circle_smaller{
    display: flex;
    margin-top: 6px;
    justify-content: center;
}
.custom_text_circle_smaller > p:nth-child(2){
    margin-right: 4px;
    margin-left: 4px;
}
.custom_text_circle_smaller p{
    margin: 0;
    background-color: #7454de;
    border-radius: 3px;
    width: 20px;
    height: 4px;
}
/*--------------PRE-END-BLOCK--------------*/
/*--------------END-BLOCK--------------*/
.end_block{
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    min-width: 500px;
}
.end_wrapper{
    display: flex;
    padding: 30px 50px 30px 50px;

    background-color: #061c31;

    width: 100%;
}
.end_crate{
    display: flex;
}
.end_crate div:nth-child(1n){
    margin-right: 6px;
}
.end_mini_crate{
    background-color: #7454de;
    border-radius: 3px;

    height: 20px;
    width: 20px;
}
.end_text{
    margin-top: 30px;
    display: flex;

}
.end_text p:nth-child(1n){
    margin-right: 8px;
}
.end_text p{
    margin: 0;
    background-color: #7454de;
    width: 25px;
    height: 4px;
    border-radius: 4px;
}
/*--------------END-BLOCK--------------*/